<!doctype html>
<html>
    <head>
        <title>Drone</title>

        <link rel="stylesheet" 
              type="text/css" 
              href="{{ url_for('static', filename='css/mystyle.css') }}"> 

        <link rel="stylesheet" 
              type="text/css" 
              href="{{ url_for('static', filename='css/timer.css') }}"> 

        <link rel="stylesheet" 
              type="text/css" 
              href="{{ url_for('static', filename='css/directional-buttons.css') }}"> 
    </head>

    <script src="{{url_for('static', filename='serverCommunication.js')}}"></script>
    <script src="{{url_for('static', filename='timer.js')}}"></script>

    <body>
        <div class="container">
            <div class="button-container">
                <div class="base-timer">
                    <svg class="base-timer__svg" 
                         viewBox="0 0 100 100" 
                         xmlns="http://www.w3.org/2000/svg">

                        <g class="base-timer__circle">

                        <circle class="base-timer__path-elapsed" 
                                cx="50" 
                                cy="50" 
                                r="45"></circle>

                        <path id="base-timer-path-remaining"
                              stroke-dasharray="283"
                              class="base-timer__path-remaining green"
                              d="
                                 M 50, 50
                                 m -45, 0
                                 a 45,45 0 1,0 90,0
                                 a 45,45 0 1,0 -90,0
                                 "></path>
                        </g>
                    </svg>
                    <span id="base-timer-label" class="base-timer__label">
                        0:00
                    </span>
                </div>
                <div class="score-container">
                    <div id="score">--</div>
                </div>
            </div>
            <div class="directional-buttons">
                <button class="direction-button up" onclick="sendMessage('move', 'forward');">
                    <span class="visually-hidden">up</span>
                </button>

                <button class="direction-button left" onclick="sendMessage('move', 'left');">
                    <span class="visually-hidden">left</span>
                </button>

                <button class="direction-button right" onclick="sendMessage('move', 'right');">
                    <span class="visually-hidden">right</span>
                </button>

                <button class="direction-button down" onclick="sendMessage('move', 'back');">
                    <span class="visually-hidden">down</span>
                </button>
            </div>
            <div class="button-container2" id="btn2-container">
                <button class="btnTO" 
                        id="tolBtn" 
                        value="take off" 
                        onclick="sendMessage(this.value);">Take Off</button>
            </div>
        </div>
        <div id="customAlert" class="custom-alert">

            <div class="custom-alert-content">
                <p id="alertText"></p>
            </div>
        </div>
        <!-- The custom alert box -->
        <div id="failureAlert" class="failure-alert">

            <div class="failure-alert-content">
                <p id="failureText"></p>
            </div>

        </div>

        <!-- The survey alert box -->
        <div id="surveyModal" class="modal">
            <div class="modal-content">
                <p id="surveyText"></p>
            </div>
        </div>
    </body>
</html>
